@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}


<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>andrewaitken.com</title>
        <link>http://andrewaitken.com</link>
        <description>RSS feed for andrewaitken.com</description>
        <lastBuildDate>Mon, 24 Jun 2013 12:45:49 GMT</lastBuildDate>
        <language>en-gb</language>
        <atom:link href="http://andrewaitken.com/rss" rel="self" type="application/rss+xml" />
            <item>
                <title>Making Things Squishy</title>
                <link>http://andrewaitken.com/2013/06/making-things-squishy/</link>
                <guid>http://andrewaitken.com/2013/06/making-things-squishy/</guid>
                <pubDate>Mon, 24 Jun 2013 12:45:49 GMT</pubDate>
                <description><![CDATA[
<p>I've been playing about with <a
href="http://twitter.github.io/bootstrap/"
target="_blank">Twitter's Bootstrap</a> and decided to convert my
blog over to use that.</p>

<p>I've got an offline version complete and will be updating the
site shortly, it will also be responsive and look lovely on mobile
devices.</p>
]]></description>
            </item>
            <item>
                <title>It&#39;s in there somewhere</title>
                <link>http://andrewaitken.com/2013/03/its-in-there-somewhere/</link>
                <guid>http://andrewaitken.com/2013/03/its-in-there-somewhere/</guid>
                <pubDate>Thu, 14 Mar 2013 10:50:20 GMT</pubDate>
                <description><![CDATA[
<p><img src="/media/972/lines2.png" width="390" height="107" alt="vb-lines"/></p>

<p>** cracks knuckles **</p>
]]></description>
            </item>
            <item>
                <title>Instant Insanity Solver</title>
                <link>http://andrewaitken.com/2013/01/instant-insanity-solver/</link>
                <guid>http://andrewaitken.com/2013/01/instant-insanity-solver/</guid>
                <pubDate>Tue, 29 Jan 2013 21:12:05 GMT</pubDate>
                <description><![CDATA[
<p>I was visiting my sister for Christmas and they had a puzzle for
us to play with. It's called the Instant Insanity puzzle, or at
least it was a variation of it with old comic book covers instead
of plain colours like the one on <a
href="http://en.wikipedia.org/wiki/Instant_Insanity"
target="_blank" title="wikipedia">Wikipedia</a>.<br />
<br />
 Pretty much everyone had a shot but nobody could quite get all 4
cubes to have different sides. Like a true geek I decided to write
some code to solve it for me.<br />
<br />
 I put a little sticker with an arrow on each cube so I could
identify them and what direction was "north". This allowed me to
map the cubes in code and also reverse the map when the code found
a solution.<br />
<br />
 You can find the code here: <a
href="https://github.com/AndyA13/InstantInsanitySolver"
target="_blank" title="GitHub">GitHub</a><br />
<br />
 As it says in the Readme, it definitely needs refactored but it
got the job done. It ran pretty much instantly and found 4
solutions (you can turn the stack 90 degrees and still have the
same solution). It also finds 65,532 non solutions but I have to
assume there are four of each one, making there 16,383 invalid
solutions. A lot less than claimed on the box...</p>
]]></description>
            </item>
            <item>
                <title>Comma Separated Lists</title>
                <link>http://andrewaitken.com/2013/01/comma-separated-lists/</link>
                <guid>http://andrewaitken.com/2013/01/comma-separated-lists/</guid>
                <pubDate>Fri, 18 Jan 2013 14:36:00 GMT</pubDate>
                <description><![CDATA[
<p>While working on a site recently I had to output the name
property from a list of objects that had been selected by the
user.</p>

<p>I wrote a handy little method that let me pass in the objects
and a Func to select the property to be used in the list.</p>

<pre class="prettyprint">
private string ToCommaSeperatedString&lt;T&gt;(IEnumerable&lt;T&gt; items, Func&lt;T, string&gt; property)
{
    if (items != null &amp;&amp; items.Count() &gt; 0)
    {
        List&lt;string&gt; values = new List&lt;string&gt;();
 
        foreach (T item in items)
        {
            values.Add(property.Invoke(item));
        }
 
        if (values.Count &gt; 0)
        {
            return String.Join(", ", values);
        }
    }
 
    return String.Empty;
}
</pre>

<p>Embedding code is still something of a work in progress. Just
noticed it had deleted part of the method declaration.</p>
]]></description>
            </item>
            <item>
                <title>Model.Parent == null</title>
                <link>http://andrewaitken.com/2012/08/modelparent-==-null/</link>
                <guid>http://andrewaitken.com/2012/08/modelparent-==-null/</guid>
                <pubDate>Wed, 29 Aug 2012 20:52:48 GMT</pubDate>
                <description><![CDATA[
<p>Thought I would put up a quick post on an issue that I came
across when converting my blog to Umbraco.</p>

<p>I have a macro that lists posts, it will show the normal page as
well as the filtered pages for categories and tags. &nbsp;While
trying to get my tag filter to work I hit a strange issue.</p>

<p style="font-family: Courier;"><span
style="color: #00f;">if</span> (Model.Parent != null &amp;&amp;
Model.Parent.Id == 1234)</p>

<p>In the above if statement, Model.Parent was always null.</p>

<p>Parent should only be null if you are on the homepage, so I
checked Model.Level and sure enough it was 1.</p>

<p>It took a bit of head scratching and some fruitless googling
before I realized it was because the node I was loading was called
"Blog", as was the root element of my site. Doh!</p>

<p>Quick rename of the tag (and the category as it would have
suffered the same problem) and all was good in the world of Umbraco
again.</p>

<p>I'm still not 100% sure on the rules of nodes with the same
name. They seem to be fine if they are not direct descendants of
one another.</p>
]]></description>
            </item>
            <item>
                <title>Another Small Update</title>
                <link>http://andrewaitken.com/2012/08/another-small-update/</link>
                <guid>http://andrewaitken.com/2012/08/another-small-update/</guid>
                <pubDate>Wed, 29 Aug 2012 20:12:53 GMT</pubDate>
                <description><![CDATA[
<p>I think I've been to&nbsp;<a
href="http://www.badgerbadgerbadger.com/">BadgerBadgerBadger</a>&nbsp;more
times than I've written blog posts. I keep thinking something I've
done would be interesting to blog about but when it comes down to
it I can never think of what to write.</p>

<p>For now though, I've just converted my blog over to Umbraco,
only took me a couple of evenings. I'm hoping the nicer backend
than my custom site with it's out the box asp.net styles will
encourage me to write more.</p>

<p>I will have a few things to blog about in the near future too. I
am currently building a remote control rover robot based on a QWERK
control board. &nbsp;I've hit a bit of a snag trying to step down
my 7.5v battery to 3v for the motors but hopefully I'll get that
sussed out soon then I can crack on and focus on the wireless part
of the project.</p>
]]></description>
            </item>
            <item>
                <title>Small Update</title>
                <link>http://andrewaitken.com/2012/01/small-update/</link>
                <guid>http://andrewaitken.com/2012/01/small-update/</guid>
                <pubDate>Wed, 18 Jan 2012 21:38:39 GMT</pubDate>
                <description><![CDATA[
<p>Finally got round to fixing an issue where a 404 was being
recorded as error. &nbsp;Should save some disk space :) &nbsp;I've
also added a new friend link for Greg and Jen who are off traveling
round the world.</p>

<p>Hopefully this will inspire me to get my ass in gear and do a
bit more work on my blog and maybe even write some blog posts! One
thing I really want to do is update the design and javascript so
when I post code it fits on the page and is syntax highlighted
automatically.</p>
]]></description>
            </item>
            <item>
                <title>500 Recipes for Chicken</title>
                <link>http://andrewaitken.com/2011/07/500-recipes-for-chicken/</link>
                <guid>http://andrewaitken.com/2011/07/500-recipes-for-chicken/</guid>
                <pubDate>Sun, 17 Jul 2011 11:12:35 GMT</pubDate>
                <description><![CDATA[
<p>It's been another week and I've passed the last two exams.
70-516, accessing data with .NET 4 and 70-519, desgining and
developing web applications using .NET 4. So I'm an MCPD now.
Yay!</p>

<p>We've noticed it raining a bit more every day, but on Friday
night it was non-stop downpour. It's Sunday now and the rain is
just getting silly.</p>

<p><img src="https://lh3.googleusercontent.com/-Xg4wkHdb5zY/TiLCmMfUA2I/AAAAAAAAAZM/IK1whDDil2M/s400/IMGP0073.JPG" alt="Refreshments"/></p>

<p>After passing the last exam on Friday we decided to celebrate by
heading north to Calangute where there are a lot more bars and
clubs. Gareth, Marc and Sanjay came along for a few drinks. Thomas
got a hookah with apple flavoured tobacco which was strange but
nice at the same time. It was only Thomas and me who were up for
staying out, so when the other guys got a taxi home, we headed
across the road to a club called Tito's.</p>

<p>It was 1500rs (£21) to get in, with free drinks all night, and
they let us both in for the price of one. The inside of the club
was actually quite small but pretty busy. As with every other bar
we go to, the guys out number the girls about twenty to one. We
stayed until about 3am then got a taxi back to the apartments.</p>

<p>I really wanted to go see an elephant but after lunch on
Saturday I had to stay within close proximity of the toilet for the
rest of the day. :(</p>

<p>My three weeks in Goa has been fun. Our apartment was clean and
the food cooked for us has been excellent. With all the studying we
didn't get time to do very much else, but what we have seen has
been fun. I think if I was going to come back it would need to be
in the dry season, although I don't think I could handle the
temperatures they get over here.</p>

<p>I am looking forward to going home though. I'd do anything for a
bacon double cheese burger just now. The food options here are
quite limited. I seen a book today that summed it up quite well,
"500 recipes for chicken".</p>
]]></description>
            </item>
            <item>
                <title>One Week To Go</title>
                <link>http://andrewaitken.com/2011/07/one-week-to-go/</link>
                <guid>http://andrewaitken.com/2011/07/one-week-to-go/</guid>
                <pubDate>Sun, 10 Jul 2011 16:26:59 GMT</pubDate>
                <description><![CDATA[
<p>Last week went well. We went over the Windows Communication
Foundation (WCF) books and passed the 70-513 exam with 950/1000. To
be honest the course was too fast and I think I'll be keeping the
books for future reference. WCF is vast. There is so much in there
and to cover it all in three days was just not enough to really get
to grips with it.</p>

<p>I can't beleive it's been two weeks already. The time has really
flown past. So far we have completed eight books, two exams and we
are halfway through the two data access in .Net 4 books. Once we
finish that we will have another exam, then we will sit the MCPD
exam. I'm not sure if we get any books for the last one, as it is
more of a summary of all the other modules we have studied so
far.</p>

<p>So far the data modules have been quite straight forward and
tomorrow we start a module about using entity framework in an
n-tier environment which I'm quite interested in.</p>

<p>Not a lot else has been happening. We went out for a drink on
Friday after passing the WCF exam. We studied a lot this week and
haven't gotten out much so not a lot to report.</p>
]]></description>
            </item>
            <item>
                <title>Down The Road</title>
                <link>http://andrewaitken.com/2011/07/down-the-road/</link>
                <guid>http://andrewaitken.com/2011/07/down-the-road/</guid>
                <pubDate>Mon, 04 Jul 2011 19:05:16 GMT</pubDate>
                <description><![CDATA[
<p>Well today went as well as could be expected. Gareth and I felt
we were as prepared as we would ever be to take the exam (70-515)
and decided to take it in the afternoon. We are a day ahead on the
course and ideally would have sat the exam on Tuesday, but for some
reason the test centre was closed on Tuesday so we decided to bite
the bullet and go for it today.</p>

<p>What a relief. The exam questions came thick and fast but I felt
very much on top of it. In fact, when I found out I had gotten 880
out of 1000 I was slightly disappointed. I honestly don't know what
questions I got wrong. Never the less, 880 is a pass and that's all
that really matters.</p>

<p><img src="https://lh4.googleusercontent.com/-UhT08pZmGSM/ThINyCJhr8I/AAAAAAAAAVI/mC4Ebfk73oU/s400/IMGP0045.JPG" alt="Church in Goa"/></p>

<p>We headed back to the apartments early as we can start WCF
tomorrow and we are still one day ahead of schedule. We picked up
Marc and Ramu from the other apartments and headed out for the
afternoon. We had a few (understatement) drinks in Hotel Fidalgo
(I'm sure its Fandango) then headed back for dinner.</p>

<p>We picked up the almost everyone else after dinner and headed to
the local hotel Vivanta for a drink. It was very fancy and very
quiet but twice the price of hotel Fandango, still less than £2 for
a beer though. After that we headed to the Marriott. It was a bit
of a trek but we made it, hot and thirsty. The Marriott is a five
star hotel and prices for beer are about the same as the UK, but
again it was very quiet.</p>

<p>At this point a Gareth and Thomas threw in the towel and headed
back to the apartments, but the rest of us soldiered on and headed
to a bar we had heard of called Down the Road.</p>

<p>For some reason they don't have regular music here, instead they
have people singing popular songs. In Down the Road it was a man
and his wife taking turns. They were very good and had some songs
by the Killers and Jason Mraz to name a few. This place was much
better. For a Monday night it was pretty busy and we agreed that it
is where we should go on Saturday night.</p>

<p>Tomorrow we try to tame the WCF beast. I'm sure I will come out
of this one with a few scars but passing this first exam has helped
a lot and we are going to give it all we've got.</p>

<p>I'm a bit tipsy, gonna sleep now.</p>
]]></description>
            </item>
    </channel>
</rss>